<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
    <a href="/" class="navbar-brand d-flex align-items-center">
        {{ $logo := ((resources.Get "logo.jpg").Resize "512x jpg").Crop "512x256 Center" }}
        <h1 class="m-0"><img class="img-fluid me-3" src="{{ $logo.RelPermalink }}" alt="">{{ .Site.Params.name }}</h1>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto bg-light rounded pe-4 py-3 py-lg-0">
            <a href="/" class="nav-item nav-link">Home</a>
            {{ $currentPage := . }}
            {{ range .Site.Menus.nav }}
                {{ if $currentPage.IsMenuCurrent .Menu . }}
                    <a href="{{.URL}}" class="nav-item nav-link active">{{.Name}}</a>
                {{ else if .HasChildren }}
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{ .Name }}</a>
                        <div class="dropdown-menu bg-light border-0 m-0">
                            {{ range .Children }}
                            <a href="{{.URL}}" class="dropdown-item">{{.Name}}</a>
                            {{ end }}
                        </div>
                    </div>
                {{ else }}
                    <a href="{{.URL}}" class="nav-item nav-link">{{.Name}}</a>
                {{ end }}
            {{ end }}
        </div>
    </div>
    <a href="" class="btn btn-primary px-3 d-none d-lg-block">Get A Quote</a>
</nav>
