<div class="container-fluid bg-dark text-white-50 py-2 px-0 d-none d-lg-block">
    <div class="row gx-0 align-items-center">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center me-4">
                <small class="fa fa-phone-alt me-2"></small>
                <a href="tel:{{.Site.Params.phone}}" class="text-light">
                    <small>{{.Site.Params.phone}}</small>
                </a>
            </div>
            <div class="h-100 d-inline-flex align-items-center me-4">
                <small class="far fa-envelope-open me-2"></small>
                <a href="mailto:{{.Site.Params.email}}" class="text-light">
                    <small>{{.Site.Params.email}}</small>
                </a>
            </div>
            <!-- <div class="h-100 d-inline-flex align-items-center me-4">
                <small class="far fa-clock me-2"></small>
                <small>Mon - Fri : 09 AM - 09 PM</small>
            </div> -->
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center">
                <a class="text-white-50 ms-4" href="{{.Site.Params.facebook}}"><i class="fab fa-facebook-f"></i></a>
                <a class="text-white-50 ms-4" href="{{.Site.Params.twitter}}"><i class="fab fa-twitter"></i></a>
                <a class="text-white-50 ms-4" href="{{.Site.Params.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
                <a class="text-white-50 ms-4" href="{{.Site.Params.instagram}}"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
